@CHARSET "ISO-8859-1";


/* .test img {cursor: pointer;border: 10px solid transparent;} */
/* .test img:hover {border: 10px solid #f1f1f1;} */

/* static navbar for screens below 601px width */
@media (max-width: 600px){
.w3-dropdown-hover  {width:302px;}
}

@media only screen and (max-width: 601px) 
{
	.w3-top {position:static;}
}

