@CHARSET "ISO-8859-1";

#employeeDescription
{
	height:300px;
	width:95%;
}

.formTitle
{
	font-size:25px;
}

@media (min-width: 600px) {

	#employeeDescription
	{

		width:60%;
	}
	
}
@media (min-width: 1200px) {

	#employeeDescription
	{

		width:40%;
	}
	
}