* {
/*   -webkit-box-sizing: border-box; */
/*   -moz-box-sizing: border-box; */
/*   box-sizing: border-box; */
}


#main {
  padding: 0px;
}

@media (min-width: 600px) {
	#main {
	  padding: 10px 20%;
	}	
}

@media (min-width: 1200px) {
	#main {
	  padding: 20px 30%;
	}	
}


#saveForm{
	font-size: 16pt;
	text-align:center;
}

.error-list{
/* 	visibility:hidden; */
position:relative;
right:40px;
}

.warn, .error-list, #repeatMessage{
	color:red;
}

#toggleVis{
	font-style: italic;
	cursor:pointer;
}

.greyOut{
	color:#999999;
}

header > h2
{
	text-align:center;
}
form header {
  margin: 0 0 20px 0; 
}
form header div {
  font-size: 90%;
}
form header h2 {
  margin: 0 0 5px 0;
}
form > div {
  clear: both;
  overflow: hidden;
  padding: 1px;
  margin: 0 0 10px 0;
}
form > div > fieldset > div > div {
  margin: 0 0 5px 0;
}
form > div > label,
legend {
	width: 32%;
  float: left;
  padding-right: 10px;
}
form > div > div,
form > div > fieldset > div {
  width: 68%;
  float: right;
}
form > div > fieldset label {
	font-size: 90%;
}
fieldset {
	border: 0;
  padding: 0;
}


input[type=text],
input[type=email],
input[type=url],
textarea,
input[type=password] {
  width: 70%;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
textarea:focus {
  outline: 0;
}

@media (max-width: 1400px) {

	#main {
	  padding: 20px 25%;
	}

	form > div {
    margin: 0 0 15px 0; 
  }
  form > div > label,
  legend {
	  width: 30%;
    float: left;
    margin: 0 0 5px 0;
  }
  form > div > div,
  form > div > fieldset > div {
    width: 70%;
    float: right;
  }
  input[type=text],
  input[type=email],
  input[type=url],
  input[type=password],
  textarea,
  select {
    width: 90%; 
  }
}
@media (max-width: 1000px) {
	
	#main {
	  padding: 20px 20%;
	}
  form > div {
    margin: 0 0 15px 0; 
  }
  form > div > label,
  legend {
	  width: 30%;
    float: none;
    margin: 0 0 5px 0;
  }
  form > div > div,
  form > div > fieldset > div {
    width: 100%;
    float: none;
  }
  input[type=text],
  input[type=email],
  input[type=url],
  input[type=password],
  textarea,
  select {
    width: 95%; 
  }
}
@media (max-width: 600px) {
	
	#main {
	  padding: 8px ;
	}
  form > div {
    margin: 0 0 15px 0; 
  }
  form > div > label,
  legend {
	  width: 100%;
    float: none;
    margin: 0 0 5px 0;
  }
  form > div > div,
  form > div > fieldset > div {
    width: 100%;
    float: none;
  }
  input[type=text],
  input[type=email],
  input[type=url],
  input[type=password],
  textarea,
  select {
    width: 100%; 
  }
}
@media (min-width: 1200px) {
  form > div > label,
	legend {
  	text-align: right;
  }
}