@CHARSET "ISO-8859-1";
#vacancyDescription
{
	height:300px;
	width:90%;
}

	.headline
	{
	width:90%;
	}

#tooBigWarning
{
	color:red;
}

#vacancyMain, #main,body
{
/*  	height:300vh; */
}


.vacancyCard
{
/* 		min-height: 900px; */
/* 	padding : 0 8px; */
	cursor:pointer;
}

	.vacancyCardOuter
	{
		width:33%;
		float:left;
	}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
  padding: 10px;
}


	#vacancyDescription
	{
		height:300px;
		width:80%;
	}
	.headline
	{
	width:80%;
	}
	
	.vacancyCardOuter
	{
		width:100%;
	}


@media (min-width: 800px) {
/* 	#vacancyDescription */
/* 	{ */
/* 		height:300px; */
/* 		width:80%; */
/* 	} */
	.vacancyCard
	{
			min-height: 300px;
	}
	.vacancyCardOuter
	{
		width:50%;
	}
}
@media (min-width: 1200px) {
	#vacancyDescription
	{
		height:300px;
		width:40%;
	}
	.headline
	{
	width:35%;
	}
	
	.vacancyCard
	{
		min-height: 350px;
	}
}
@media (min-width: 1500px) {
	#vacancyDescription
	{
		height:300px;
		width:40%;
	}
	.headline
	{
	width:35%;
	}
	
	.vacancyCard
	{
		min-height: 280px;
	}
	.vacancyCardOuter
	{
		width:33%;
	}
}