<br class="bigOnly">
<br class="bigOnly">
<br class="bigOnly">

<div class="w3-row-padding w3-margin-top w3-center" style="font-size: 14pt;" >
<h1>Referral Guidelines </h1>
<!-- Basic download page -->

{foreach from=$guidelineList key=myId item=i}

<div class="w3-container">
<a href="./uploads/{$i.fileName}" target="_blank">{$i.downloadTitle}</a><br>
{$i.downloadDescription}
</div>
<br>


{/foreach}


</div>

