<link rel="stylesheet" type="text/css" href="./CSS/reg.css">
<div id=main>
<br class="bigOnly">
<br class="bigOnly">
<br class="bigOnly">
<br class="bigOnly">
<br class="bigOnly">
	<div class="w3-container w3-padding-64 w3-center">
		<h3>{$username}</h3><h3>If this user name is recognised, an email will be sent to the associated email address with a new password. The old password for this user name is now no longer valid.</h3>
	</div>
</div>