<!DOCTYPE html>
<html>
<title>Avon LOC</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
<link href='./CSS/header2.css' rel='stylesheet' type='text/css' >
<link rel="stylesheet" type="text/css" href="./CSS/captcha.css">
<!-- <script src="./extensionLibraries/jquery/jquery-1.8.3.min.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>

<body id="myPage">