
<link rel="stylesheet" type="text/css" href="./CSS/home.css">
<link rel="stylesheet" type="text/css" href="./CSS/vacancy.css">
<div class="w3-image w3-animate-opacity">
<!--   <img class="" src="images/avonloceye.jpeg" alt="glasses" style="width:100%;min-height:550px;max-height:1300px;"> -->
  <!--  img class="" src="images/glassesandpen.jpg" alt="glasses" style="width:100%;min-height:550px;max-height:1300px;"-->
  <img class="" src="images/cbridge.jpg" alt="glasses" style="width:100%;min-height:330px;max-height:550px;">
  <div id="avonLocBanner" class="w3-title w3-padding-16 w3-center" >
    <div  class="w3-animate-opacity w3-btn w3-xlarge w3-theme" style="cursor:default;position:relative;top:20px;" title="">Avon LOC{if $sess_approval=="pending"}<br><I>(approval pending)</I> {/if}</div>
  </div>
</div>

<br>
<div class="w3-container w3-padding-16 w3-center">
<h2><a href="./uploads/Avon LOC Data Protection and Privacy Policy (May 2018).do
cx" target="_blank">Download our data protection policy</a></h2>








