<!-- <script src="javascript/login.js" type="text/javascript"></script> -->
<link rel="stylesheet" type="text/css" href="./CSS/reg.css">
<div id=main>
<br class="bigOnly">
<br class="bigOnly">
<br class="bigOnly">
<br class="bigOnly">
<br class="bigOnly">
	<div class="w3-container w3-padding-64 w3-center">
		<form id="loginForm" style="font-size: 25px;" method="post" action="./avonloc.php">
			{if $showTryAgain == "true"}
				<div>Sorry, either the username or password was incorrect<br><br></div>
			{/if}
			<input type="hidden" name="command" value="tryLogin"> {if
			$showLoginDelay eq "true"} <br> Sorry but for security purpose
			you will have to wait for {$timeToGo} seconds before the next login
			attempt will be accepted. <br> {/if} 
			User name 
			<input id="username" type="text" name="username" value="{$username}"> <br> <br>
			 Password 
			<input class="amar" type="password" name="password"><br> <br> <Br>
			<input name="login" type="submit" class="w3-btn w3-theme" value="login"><br><br>
			<input  id="forgotten" style="font-size: 18px;" title="If the username is recognised, an email will be sent to the users address with a new password" type="submit" name="login" class="w3-btn w3-theme" value="Forgotten Password?"><br>

		</form>
	</div>
	<br> <br> <br> <br> <br> <br> <br> <br>
	<br> <br> <br>
</div>