<br class="bigOnly">
<br class="bigOnly">
<br class="bigOnly">

<div class="w3-row-padding w3-margin-top w3-center"  style="font-size: 14pt;">

<h1>This is a list of email addresses of all approved users</h1>
<h2>You should be able to copy and past this into the to field of a mail client</h2>

{foreach from=$mailingList item=email}
{$email};
{/foreach}
</div>