<link rel="stylesheet" type="text/css" href="./CSS/reg.css">
<div id=main>
<br class="bigOnly">
<br class="bigOnly">
<br class="bigOnly">
<br class="bigOnly">
<br class="bigOnly">
	<div class="w3-container w3-padding-64 w3-center">
		<h3>Thanks for registering!</h3><h3>The site administrators have been emailed with details of your registration and will review your request shortly. We are sorry but you will not be able to visit the main parts of this site until you are approved.</h3>
	</div>
	<br> <br> <br> <br> <br> <br> <br> <br>
	<br> <br> <br>
</div>